
<div class="d-flex align-items-center justify-content-center mt-5 w-100">
    <div class="box">
        <div class="box-title text-center">Connect to your account</div>
        <form method="post" action="login">
            <label class="my-2 text-secondary">Username</label>
            <input type="text"  placeholder="Enter your username" class="form-control form-control-lg" name="username">
            <label class="my-2 text-secondary">Password</label>
            <input type="password" class="form-control form-control-lg" name="password" placeholder="Enter your password">
            <div class="text-end mt-4">
                <button type="submit" class="btn btn-primary btn-lg">Login</button>
            </div>
        </form>
        
        <div id="bold" class="mt-4 text-center">You don't have an account yet ? <a href="/auth/signup"> Create it now</a></div>
    </div>
</div>



