
<nav>
    <div class="container d-flex justify-content-between">
    <div class="d-flex align-items-center">
        <a  href="/nostalgia-lib">Nostalgia Libary</a>
        <a  href="/stories">Stories</a>    
    </div>
    <div class="logo-website">
        <a id="logo" href="/"><img id="logo-img" src="../../images/logo.png" alt="logo image" /></a>
    </div>
    <div class="d-flex align-items-center">
        <% if( typeof(user) !="undefined"){%>
        <a href="/profile"><%- user.username %>  </a>
        <% } else {%>
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Sign up</a>
        <%} %>
    </div>
</div>
</nav>


