<div class="container">
	<section   id="home-sec">
		<article>
			<div class=”popup”>
				<div class="popup1">hello</div>
				<div class="popup2"></div>
				<div class="popup3"></div>
			</div>

			<h1 id="intro">Bring back old memories & share all your stories</h1>
		</article>
		<a href="/nostalgia-lib"
			><button id="CheckItemsBtn">Check All the Nostalgic Items in the Libary</button></a
		>
	</section>
</div>
