<section id="home-sec">
	<article>
		<h1 id="titleHomePage">Waste Wonderland</h1>
		<p>Intro abt the website</p>
	</article>
	<a href="/nostalgia-lib"
		><button id="CheckItemsBtn">Check All the Nostalgic Items in the Libary</button></a
	>
</section>
