<section id="home-sec">
	<article>
		<h1>Waste Wonderland</h1>
		<p>Welcome to Waste Wonderland, bahlah bahlah...</p>
	</article>
	<a href="/nostalgia-lib"
		><button>Check All the Nostalgic Items in the Libary</button></a
	>
</section>
