@font-face {
  font-family: 'Golca';
  src: url(fonts/Golca.otf);
}

@font-face {
  font-family: 'Gilroy';
  src: url(fonts/Gilroy.otf);
}

html,
body {
  font-family: 'Golca';
  height: 100%;
  font-size: 14px;
  background-color: #898686;
  background-image: linear-gradient(
      #e8c0b370 2.8000000000000003px,
      transparent 2.8000000000000003px
    ),
    linear-gradient(to right, #e8c0b370 2.8000000000000003px, #6a72d7d9 2.8000000000000003px);
  background-size: 56px 56px;
  opacity: 1;
}

.simplebackground {
  background-color: #fceeeb;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav {
  font-weight: bolder;
  font-size: 16px;
  padding: 27px;
  border-width: 2px 0px;
  text-transform: uppercase;
  position: relative;
}

nav a,
a.nav-link {
  padding: 8px 18px;
  color: black;
  margin: 0px 20px;
  transition: color 250ms;
  background: white;
  border-radius: 55px;
}

a.logo {
  background: transparent;
}

nav a:hover,
nav a:focus {
  color: black;
}

.nav-item {
  list-style-type: none;
}
.logo-website {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  background-color: transparent;
  transform: translate(-50%, -50%);
}

#logo-img {
  border-radius: 86px;
  width: 300px;
}

#home-sec {
  display: flex;
  align-items: center;
  margin-top: 100px;
  text-align: center;
  flex-direction: column;
}

#intro {
  font-family: 'Gilroy';
  font-size: 50px;
  word-spacing: 16px;
  color: #ffe393;
  width: 80%;
}

#CheckItemsBtn {
  margin-top: 50px;
  padding: 40px;
  border: #ffe293 dotted 10px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 28px;
  opacity: 0.93;
  font-weight: bold;
  font-size: 16px;
}

/* nostalgia Lib */
#nostalgia-lib-sec {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.card {
  border-radius: 8px;
  border-width: 2px;
  padding: 10px;
  /* border: orange solid; */
}

.itemImg {
  width: 180px;
  padding: 20px;
}

.card-title {
  font-size: 22px;
  display: flex;
  justify-content: center;
  margin: 16px;
  text-transform: lowercase;
  color: #000000;
}

.likeAndCollect {
  display: flex;
  border: solid black;
  margin-bottom: 16px;
  justify-content: space-around;
  padding: 2px;
  align-items: center;
}

#createItemBtn {
  bottom: 30px;
  right: 30px;
  position: fixed;
}

section {
  padding-top: 40px;
}

.card-columns {
  column-count: 4;
  column-gap: 1.25rem;
}

.btn-outline-primary {
  --bs-btn-color: #ff9494;
  --bs-btn-border-color: #ff7e78;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ff9494;
  --bs-btn-hover-border-color: #ff9494;
  --bs-btn-focus-shadow-rgb: 220, 53, 69;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ff9494;
  --bs-btn-active-border-color: #ff9494;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ff9494;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ff9494;
  --bs-gradient: none;
}

#container-item {
  margin-top: 20px;
}

.item-long-info {
  margin: 0 66px 40px;
}

.item-page-stories {
  border: 7px dotted #83caed;
  background: #e4f6ff;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  padding: 30px;
  padding-inline: 20px;
  border-radius: 40px;
}

.storyLikedBy {
  text-align: end;
}

.noStoriesYet {
  border: 2px solid black;
  background: white;
  display: flex;
  margin: 10px;
  justify-content: center;
  padding: 20px;
}

.itemPage {
  border: 2px solid #00000099;
  background: #fff;
}

/* Story Page */
.windowStyle {
  height: 18px;
  border-bottom: 2px solid #666666;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  background-color: #ecd054;
}

.windowStyle .windowStyle1 {
  padding: 0 6px;
  display: flex;
  align-items: center;
}

.containerBtnStyle {
  display: flex;
}

.windowStyle .windowStyle2 {
  padding: 0 10px;
  border-right: 2px solid #666666;
  border-left: 2px solid #666666;
}

.windowStyle .windowStyle3 {
  background: #ff9494;
  padding: 0 10px;
}

#storiesStyle {
  text-align: center;
}

#bold {
  font-family: 'Gilroy';
  font-weight: bold;
}

h2 {
  font-size: 22px;
  text-align: center;
  border: dotted white 4px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #ffe392;
  margin-left: 270px;
  font-family: 'Gilroy';
  margin-right: 270px;
}

.storiesPage {
  border: 2px solid #00000099;
  margin-bottom: 18px;
  background: #fff;
}

.storiesWindowStyle {
  height: 22px;
  border-bottom: 2px solid #666666;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  background-color: #ecd054;
}

.storiesWindowStyle .windowStyle1 {
  padding: 0 6px;
  display: flex;
  align-items: center;
}

.storiesWindowStyle .windowStyle2 {
  padding: 0 10px;
  border-right: 2px solid #666666;
  border-left: 2px solid #666666;
}

.storiesWindowStyle .windowStyle3 {
  background: #ff9494;
  padding: 0 10px;
}

.infoLatestStories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-stories {
  display: flex;
  margin-left: 40px;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.stories-container {
  background: white;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* PROFILE PAGE STYLE */

#profilePage {
  margin: 30px;
}

#profile-container {
  position: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 18px;
  align-items: baseline;
  border: #2d15ffd1 dotted 6px;
  border-radius: 10px;
}

.btn-light {
  --bs-btn-color: #fff;
  --bs-btn-bg: #2d15ffd1;
  --bs-btn-border-color: #2d15ffd1;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0004ffd9;
  --bs-btn-hover-border-color: #0004ffc2;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #086cffe3;
  --bs-btn-active-border-color: #086cffe3;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #2d15ffd1;
  --bs-btn-disabled-border-color: #2d15ffd1;
}

#profile-stories-list {
  border: 2px solid black;
  background: white;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

#profile-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 30px;
}

.list-group {
  list-style-type: none;
}

/* nav */
.dropdown-item {
  padding: 12px;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent;
}

.box {
  background: #fff;
  padding: 30px;
  width: 400px;
}

.box-lg {
  width: 500px;
}

.box-title {
  font-size: 20px;
  color: blue;
  border: dotted 086cffe3 6px;
  border: blue dotted 6px;
  border-radius: 14px;
  padding: 6px;
  margin-bottom: 35px;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #2d15ffd1;
  --bs-btn-border-color: #2d15ffd1;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0004ffd9;
  --bs-btn-hover-border-color: #0004ffc2;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #086cffe3;
  --bs-btn-active-border-color: #086cffe3;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #2d15ffd1;
  --bs-btn-disabled-border-color: #2d15ffd1;
}

.btn-custom {
  box-shadow: 0 0.375em 0 #183052;
  border: 2px solid #183052;
  background: #ffd43b;
  color: #183052;
  transition: 0.3s;
}

.btn-custom:hover {
  background: #fab005;
  color: #183052;
  border: 2px solid #183052;
}

.list-group-item:last-child {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-radius: 10px;
  margin-bottom: 4px;
  border-color: #ffda00c7;
}

.mt-2 {
  text-transform: uppercase;
  padding: 10px;
}

.my-2 {
  text-transform: uppercase;
  padding: 10px;
}
