@font-face {
  font-family: 'StoraLight';
  src: url(fonts/StoraLight.ttf);
}
@font-face {
  font-family: 'Stora';
  src: url(fonts/Stora.ttf);
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: 'Golca';
  src: url(fonts/Golca.otf);
}

html,
body {
  height: 100%;
  font-size: 14px;
  font-family: 'Roboto-Medium';
  background-color: #f1eeed;
  /* opacity: 0.8; */
  background-image: linear-gradient(#a8a5a4 2.8000000000000003px, transparent 2.8000000000000003px),
    linear-gradient(to right, #a8a5a4 2.8000000000000003px, #f1eeed 2.8000000000000003px);
  background-size: 56px 56px;
}

.simplebackground {
  background-color: #fceeeb;
}

a {
  text-decoration: none;
}

nav {
  font-family: 'Golca';
  font-weight: bolder;
  font-size: 16px;
  padding: 27px;
  background-color: #f1eeed;
  border-width: 2px 0px;
  border-bottom: black solid;
  text-transform: uppercase;
  position: relative;
}

nav a {
  color: black;

  margin: 0px 20px;
  transition: color 250ms;
}

nav a:hover,
nav a:focus {
  color: black;
}

.logo-website {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%);
}

#logo-img {
  border-radius: 86px;
  width: 200px;
}

#home-sec {
  display: flex;
  align-items: center;
  margin-top: 90px;
  text-align: center;
  flex-direction: column;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.popup1{
    background-color: #ffffff;
    width: 200px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    display: none;
    font-family: 'Golca';
    text-align: center;
}





#intro {
  font-family: 'Golca';
  font-size: 75px;
  font-style: italic;
  word-spacing: 24px;
}

#CheckItemsBtn {
  font-family: 'Roboto-Medium';
  padding: 40px;
  background-color: #ffffff;
  color: blue;
  box-shadow: -15px 10px 5px 0px #f9148e, -30px 20px 5px 0px #88c35a;
  border: blue solid;
  opacity: 0.9;
  border-width: 2px;
  font-weight: bold;
  font-size: 16px;
}

/* nostalgia Lib */
#nostalgia-lib-sec {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.card {
  border-radius: 8px;
  border-width: 2px;
  padding: 10px;
  /* border: orange solid; */
}

.itemImg {
  width: 180px;
  height: 180px;
  margin: 10px;
}

.card-title {
  font-family: 'Stora';
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin: 16px;
  text-transform: uppercase;
  color: #ff0000cf;
}

.likeAndCollect {
  display: flex;
  border: solid black;
  margin-bottom: 16px;
  justify-content: space-around;
  padding: 2px;
  align-items: center;
}

#createItemBtn {
  bottom: 30px;
  right: 30px;
  position: fixed;
  width: 78px;
  transition-duration: 0.4s;
}

#createItemBtn:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

#createItemBtn span {
  font-size: 18px;
  justify-content: center;
  display: flex;
}

section {
  padding-top: 40px;
}

.card-columns {
  column-count: 4;
  column-gap: 1.25rem;
}

.btn-outline-primary {
  --bs-btn-color: #ff4a43;
  --bs-btn-border-color: #ff4a43;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ff4a43;
  --bs-btn-hover-border-color: #ff4a43;
  --bs-btn-focus-shadow-rgb: 220, 53, 69;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ff4a43;
  --bs-btn-active-border-color: #ff4a43;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ff4a43;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ff4a43;
  --bs-gradient: none;
}

.itemPage {
  border: solid grey;
  width: 1000px;
  height: 500px;
  background-color: white;
  margin: 40px 10px;
  box-shadow: 30px 20px 15px -3px #CDF17E;
}

.windowStyle {
  border-bottom: solid black;
  display: flex;
  justify-content: flex-end;
  position: relative;
  font-size: 16px;
  padding: 8px;
}

.windowStyle .windowStyle1 {
  position: absolute;
  top: 2px;
  left: 10px;
}

.windowStyle .windowStyle2 {
  position: absolute;
  top: 2px;
  right: 40px;
}

.windowStyle .windowStyle3 {
  position: absolute;
  top: 2px;
  right: 10px;
}

#profile-container {
  margin-top: 40px;
  border-radius: 6px;
  border: solid green;
  width: 300px;
  position: center;
  background-color: white;
}

#container-item{
  display: flex;
  justify-content: center;
}