<form action="/create-item" method="POST">
    <label>Item Name:<input name="name"></label>
    <label>Item Image:<input name="imgUrl"></label>
    <label>Short Description:<input name="shortInfo"></label>
    <label>Complete Description:<input name="longInfo"></label>
    <button type="submit">Create Item</button>    
</form>