<form action="/create-item" method="POST" enctype="multipart/form-data">
    <label>Item name:<input name="name"></label>
    <label>Short description:<input name="shortInfo"></label>
    <label>Complete description:<input name="longInfo"></label>
    <label>Choose up to 4 images of your item to upload:
        <input type="file" name="img" accept="image/png, image/jpeg" multiple>
    </label>
    <!-- Button trigger modal -->
    <button type="submit" id="create-item-btn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create-item-modal">
        Create this item!
    </button> 
</form>

<!-- Modal - Be ready to unfold it. It is super bulky.-->
<div class="modal fade" id="create-item-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                Item is being created...
            </div>
        </div>
    </div>
</div>