<section >
    <div class="row" data-masonry="{&quot;percentPosition&quot;: true }">
        <% allItems.forEach(item => { %>
            <div class="col-sm-6 col-lg-4 mb-4">
            <%- include("../partials/item-card", { item }) %>
            </div>
        <% }); %>
    </div>
    <div id="createItemBtn">
        <a href="/create-item" class="btn btn-lg btn-custom">
            <i class="fa-solid fa-square-plus me-2"></i>Create Your Item
        </a>
    </div>
</section>
