<section id="nostalgia-lib-sec">
	<% allItems.forEach(item => { %>
	    <div class="item-card"><%- include("../partials/item-card", { item }) %></div>
	<% }); %>
    <div id="create-item-card">
        <a href="/contents/create-item">
            <button>Create Your Item</button>
        </a>
    </div>
</section>
