<section >
    <div class="row" data-masonry="{&quot;percentPosition&quot;: true }">
        <% allItems.forEach(item => { %>
            <div class="col-sm-6 col-lg-4 mb-4">
            <%- include("../partials/item-card", { item }) %>
            </div>
        <% }); %>
    </div>
    <div id="createItemBtn">
        <a href="/create-item">
            
            <button><span>+</span>Create Your Item</button>
        </a>
    </div>
</section>
